<!DOCTYPE html>
<html lang="en_GB">
    <head>
        <title>Exception - {{ code }} - {{ message }}</title>
        <style>
            * {
                box-sizing: border-box;
            }

            html, body {
                width: 100%;
                height: 100%;
                padding: 0;
                margin: 0;
            }

            body {
                display: flex;
                height: 100%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-family: system-ui;
                background-color: #fffafa;
            }

            body > div {
                position: relative;

                width: 320px;
                max-width: 100%;
                min-width: 25%;
                padding: 16px;

                text-align: center;
                font-size: 2rem;
            }

            div.code {
                font-size: 5em;
                font-weight: 900;
                opacity: 0.2;

                margin-bottom: -0.4em;
                
            }

            div.message {
                padding: 16px 0;
            }

            div.comment {
                opacity: 0.75;
                font-size: 1.5rem;
            }

            div.actions {
                padding: 16px 0;
                font-size: 1.25rem;
            }

            div.actions a {
                color: inherit;
                text-decoration: none;
            }

            div.actions a:hover {
                text-decoration: underline;
            }
        
        </style>
    </head>
    <body>
        <div>
            <div class='code'>{{ code }}</div>
            <div class='message'>{{ message }}</div>
            <div class='comment'>{{ comment }}</div>
            <div class='actions'>
                <a href='javascript:location.reload();'>Try again</a> - 
                <a href='/'>Homepage</a> - 
                <a href='javascript:history.back();'>Go back</a>
            </div>
        </div>
    </body>
</html>